/* AdminResources.css */
.resources-container {
    padding: 20px;
    margin-left: 50px;
  }
  
  .resources-container-topic{
    margin: 0 0 -20px 30px;
  }

  .new-resource-btn {
    float: right;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #6cba7e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .new-resource-btn :hover {
    background-color: #1d9539;
  }
  
  .form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .resource-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .resource-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .resource-form button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 15px;
  }
  
  .resource-form button[type="submit"]:hover {
    background-color: #1e7e34;
  }
  
  .resource-form button[type="button"] {
    background-color: #db7b7b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .resource-form button[type="button"]:hover {
    background-color: #de2b2b;
  }
  
  .resources-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .resources-table th, .resources-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .resources-table th {
    background-color: #8480eb;
    color: white;
    font-weight: 500px;
    font-size: 20px;
  }

  .resources-table td{
    font-size: 18px;
  }


  .view-button {
    background-color: #4fc3f7; /* Medium cyan */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-button:hover {
    background-color: #29b6f6; /* Darker cyan */
}

.edit-button {
    background-color: #66bb6a; /* Medium green */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #43a047; /* Darker green */
}

.delete-button {
    background-color: #ef5350; /* Medium red */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #e53935; /* Darker red */
}